@font-face {
	font-family: 'Didact Gothic';
	src: url('/font/DidactGothicMedium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Inknut Antiqua';
	src: url('/font/InknutAntiquaRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Maximilian Antiqua Initialen';
	src: url('/font/MaximilianAntiquaInitialen.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
